.card{
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(24, 27, 71, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: var(--primaryText);
}
.searchedCard{
    width: 45rem;
    height: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.mostCard{
    width: 10.5rem;
    height: 10.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
gap:0.7rem;
}
.watchListCards{
width: 25rem;
height:33.5rem ;
display: flex;
align-items: center;
justify-content: start;
flex-direction: column;
padding: 0.5rem 0.5rem;
overflow-y: scroll;
gap: 1rem;


}
.watchListCards::-webkit-scrollbar{
    display: none;
}
.emptyWatchList{
   flex-wrap: wrap;
    justify-content: center;
}
.emptyWatchList p{
font-size: 2rem;
}
.weatherImg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.weatherImg>img{
    height: 10rem;
    
}
.weatherImg button{
    background: transparent;
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
    color: var(--primaryText);
}
.weatherData{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.searchedTemperature{
    font-size: 4rem;
}
.searchedWeatherCondition{
font-size: 2rem;
}
.searchedPlace{
    font-size: 1rem;
}

.windHumidity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.humiditySection,.windSection{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
   
}
.humiditySection img ,.windSection img{
    height: 2.5rem;
}
.searchedNoDataCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}
.searchedNoDataCard img{
height: 20rem;
}
.searchedNoDataCard p{
    font-size: 1.7rem;

}
.mostCityName{
    border-bottom: 1px solid white;
}

@media screen and (max-width: 767px) {
   .mostCard{
display: none;
    }
.searchedCard,.watchListCards{
    width: 93vw;
}
.searchedCard{
    flex-direction: column;
    gap: 0.2rem;
    height: 35rem;
    max-height: 40rem;
}
}