*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body,html{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--primaryBg);
}

:root{
  --primaryBg:#0F2836;
  --primaryText:#fff;
  --secondaryText:#898989;
}